body{
    background-color: #999999;
    color: #333;
    margin: 1em 30px;
}
h1{
    padding-left: 20px;
    padding-top: 20px;
}
a{
    color: #c60;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: #8B4513;
}
li{
    padding: 10px 20px;
    list-style: none;
    float: left;
}
ul{
    padding-bottom: 45px;
}
img{
    display: block;
    clear: both;
    margin:0 auto;
}
#description{
    text-align: center;
}